body{
	width:1000px;
	margin: 0 auto;
    background-color:antiquewhite;
	}
		
	
		
.outline{
	color:cadetblue;
	font-family: "arial black";
	font-style: italic;
	text-decoration: initial;
}

li.li1{
	color:cadetblue;
	font-family: "arial black";
	font-style: italic;
}
/* ul,ol:hover
{
	list-style: none;
} */